.title-card {
    background-color: #3d3bcc;
    width: 23rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 2rem 2rem 0 0 ;
    padding: 1.5rem;
}

.title-card h1 {
    color: white;
}

.title-card p {
    color: #c5c5f0;
}